<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/static/css/tailwind.css">

<link rel="stylesheet" href="/static/css/tailwind.css">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Tera</title>
</head>
<body>
    <h1 class="text-2xl font-bold text-center">Hello, {{ name }}!</h1>
    <a href="/svelte">
        <button class="text-black bg-red-300 rounded-md hover:bg-red-500 p-3">
            Go to Svelte
        </button> 
    </a>
        
    
</body>
</html>
